<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <meta name="robots" content="index, follow">
  <title>{{ title }} | Mon Site Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='site/dipesh-shrestha-Diyc9vVaSqM-unsplash.jpg') }}">
</head>
<body>
  <header>
    <nav>
      <a href="/">Accueil</a> | <a href="/contact">Contact</a>
    </nav>
    <p>test</p>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 Mon Site Flask. Tous droits réservés.</p>
  </footer>
</body>
</html>
