{% extends "base.html" %}
{% block title %}Coaching pour apprendre encore plus vite{% endblock %}

{% block content %}
<main>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4259360507029705"
     crossorigin="anonymous"></script>
  <section class="expert-section">
    <div class="level-card">
        <h3>COACHING</h3>
        <ul style="text-align:left;">
          <li>apprenez a l'aide d'un coach</li>
          <li>pour toute demande de coaching </li>
          <li>Ajouter ordinal_cyber sur discord </li>
        </ul>
  </section>
</main>
{% endblock %}
