{% extends 'base.html' %}

{% block content %}
<h2>Jouer une partie</h2>
<div id="board" style="width: 400px; margin: auto;"></div>

<script src="{{ url_for('static', filename='js/chess.js') }}"></script>
<script src="{{ url_for('static', filename='chessboard/chessboard-1.0.0.min.js') }}"></script>
<script>
  const game = new Chess();

  const board = Chessboard('board', {
    draggable: true,
    position: 'start',
    onDrop: function (source, target) {
      const move = game.move({
        from: source,
        to: target,
        promotion: 'q'
      });

      if (move === null) return 'snapback';
    }
  });
</script>
{% endblock %}
